@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD
.truncate-lines-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
=======
>>>>>>> 822f78f707d8430b1374bd3d16e31a1bcfd4d77e
